<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Text Analitycs Tools</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Configuration</a>
          <a [routerLink]="'/entityExtraction'" class="nav-link active" aria-current="page">Entity Exctraction</a>
          <a [routerLink]="'/textSimilarity'" class="nav-link active" aria-current="page">Text Similarity</a>
          <a [routerLink]="'/languageDetection'" class="nav-link active" aria-current="page">Language Detection</a>
          <a [routerLink]="'/sentimentAnalysis'" class="nav-link active" aria-current="page">Sentiment Analysis</a>
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">History</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
